{% extends 'base2.html' %}
{% load static %}
{% block title %}
	Cart
{% endblock title%}


{% block body %}

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h1>Place Your Order</h1>
        </div>
        <div>
            {{ form.as_p }}
        </div>
        {{ product.price * 5 }}
        <div class="row">
            {% for item in cart_items %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <h5 class="card-header">
                        {{ item.name|slice:"0:53" }}...
                    </h5>
                    <div class="card-body">
                        <img src="/media/{{ item.image }}" class="card-img-top" alt="Product Image" style="height: 300px; width: 100%;">
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div>Quantity: {{ item.quantity }}<br>
                            Total Price : {{ item.price }}
                        </div>
                        <form method="post" action="{% url 'remove' item.id %}">
                            {% csrf_token %}
                                {% comment %} <input type="number" name="quantity" value="1" min="1"> {% endcomment %}
                                <button id="pr{{ item.id }}" class="btn btn-dark cart btn-sm mt-0" type="submit">Remove</button>
                            </form>
                            <br><br><br> 
                        <a class="btn btn-danger cart btn-sm mt-0" href="/app/order/">Order Now</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock body %}