{% extends 'base2.html' %}
{% load static %}
{% block title %}
	Home
{% endblock title%}

{% block head %} 
<style>
    .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px; /* Adjust width as needed */
    }
    .input-group button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        padding: 5px 10px;
    }
    .input-group button:focus {
        outline: none;
    }
    .input-group input {
        width: 70px; /* Adjust width as needed */
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        box-sizing: border-box;
    }
</style>
{% endblock head %}

<!-- {% block content %}
    <div class="hero-container">
      <h3 class="bg-danger">Welcome to <strong>SHOP CART</strong></h3>
{#      <h1>We're Creative Agency</h1>#}
{#      <h2>We are team of talented designers making websites with Bootstrap</h2>#}
      <a href="#about" class="btn-get-started scrollto">SHOP NOW</a>
    </div>

{% endblock content %} -->

{% block body %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h1>Welcome to Shop</h1>
          {% comment %} <h3>Check our <span>Products</span></h3> {% endcomment %}
        </div>


          {% for product ,range , nSlides in allprods %}

              <div class="section-title">
              <h2 class="section-title">{{ product.0.category }}</h2>
              </div>
              <div class="container">
              <div class="row">

                  {% for i in product %}
                      <div class="col-md-3">

                          <img src="/media/{{ i.image }}" class="card-img-top" alt="not found" height="300px" width="100px">
                      <div class="card-body mb-4"><br>
                          <h5 class="card-title" id="namepr{{ i.id }}"><strong>{{ i.product_name }}</strong></h5>
                          <p class="card-text">{{ i.desc|slice:"0:53" }}...</p>
                          <h6 class="card-title mb-3"><strong>
                              Price:<span id="pricepr{{ i.id }}">{{ i.price }}</span>
                          </strong>
                          </h6>
                          <span id="divpr{{ i.id }}" class="divpr">
                              <!-- <button id="pr{{ i.id }}" class="btn btn-danger cart btn-sm mt-0">Add to cart</button> -->
                              <form method="post" action="{% url 'add_to_cart' i.id %}">
                                {% csrf_token %}
                                    {% comment %} <input type="number" name="quantity" value="1" min="1"> {% endcomment %}
                                    <div class="input-group">
                                        <button id="subtract">-</button>
                                        <input type="text" id="quantity" value="1">
                                        <button id="add">+</button>
                                    </div>
                                    <button id="pr{{ i.id }}" class="btn btn-dark cart btn-sm mt-0" type="submit">Add to Cart</button>
                                </form>
                          </span>
                          <a href="/media/{{ i.image }}">
                              <!-- <button class="btn btn-success btn-sm cart">View</button> -->
                          </a>

                      </div>

                      </div>

                  {% endfor %}

              </div>
              </div>

          {% endfor %}





      </div>
    </section><!-- End Portfolio Section -->


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>



{#    find out the card from local storage#}
{% comment %} 
    if (localStorage.getItem('cart') == null) {
    var cart = {};
    } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
    }

{#    add or increment code#}

    $('.divpr').on('click','button.cart', function()  {
    var idstr = this.id.toString();
    console.log(idstr)

    if (cart[idstr] ≠ undefined) {
    qty = cart[idstr][0] + 1;
    }
    else {
    qty = 1;
    name = document.getElementById('name' + idstr).innerHTML;
    price = document.getElementById('price' + idstr).innerHTML;
    cart[idstr] = [qty, name, price];
    }

    updateCart(cart);
    localStorage.setItem('cart' , JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    console.log( Object.keys(cart).length)
    document.getElementById("popcart").click();
    });

{#    add pop over to cart #}

    $("#popcart").popover();

    updatePopover(cart);
    function updatePopover(cart) {

    console.log('we are inside update popover');
    var popStr = "";
    var popStr = popStr + "<h5> cart for your items in my shopping cart </h5>"
    var i = 1;
    for (car item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice
        (0,19) + "..." + "<b>" + cart[item][0] + "</b>" + "Qty" + '<br>' ;
        i = i + 1;
    }

    pop Str = popStr + "<div> <a href="/checkout"><button class="btn
    btn-success" id="clearCart">Checkout</button></a> <button class="btn btn-dark" onclick="clearCart"></button></div>"
    document.getElementById('popCart').setAttribute('data-content',popStr);
    $('#popcart').popover('show');
    document.getElementById('popcart').click();
    }

    function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
        document.getElementById('div' + item).innerHTML = '<button id=" ' + item + '" class="btn btn-danger cart">Add to Cart</button>'
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);

    let clear= document.getElementById("popcart").click();
    document.getElementById("popcart").click();
    } {% endcomment %}

{#    if plus or minus button is clicked change the cart as well as the display value#}

<script>
    document.getElementById('add').addEventListener('click', function() {
        incrementValue();
    });

    document.getElementById('subtract').addEventListener('click', function() {
        decrementValue();
    });

    function incrementValue() {
        var value = parseInt(document.getElementById('quantity').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('quantity').value = value;
    }

    function decrementValue() {
        var value = parseInt(document.getElementById('quantity').value, 10);
        value = isNaN(value) ? 0 : value;
        if (value > 1) {
            value--;
            document.getElementById('quantity').value = value;
        }
    }
    // Prevent form submission on button clicks
        var addToCartForm = document.getElementById('addToCartForm');
        addToCartForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            // Manually submit the form via JavaScript if needed
            // Example: addToCartForm.submit();
        });
</script>


{% endblock body %}