{% extends 'base.html' %}
{% block title %}
	Login
{% endblock title %}
{% block content %}


    <!-- <div  class="card bg-dark p-5" style="display: flex; justify-content: center; align-items: center;">

    {#    for messages displayed in template#}

    {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

          </div>
    {% endfor %}

{#    end of messages#}

    <h1 class="text-light">LOG IN</h1>
    <br>
    <form action="/app/home/" method="post">
    {% csrf_token %}

        <label for="email" style="color: aliceblue;">Email</label>
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
        <br>

        <label for="pass1" style="color: aliceblue;">Password</label>
    <div class="form-group">
        <input type="password" class="form-control p-2" id="pass1" name="pass1" required>
    </div>
        <br>

    <button type="submit" class="btn btn-danger">Log In</button>
        <br><br><br>
    <h6 style="color: aliceblue;">New User?  <a href="/signup/">Signup here</a></h6>

    </form>
    </div> -->

    <div style="justify-content: center; align-items: center;">
        <h1 class="text-light">LOG IN</h1>
    <br>
    <form action="/" method="post">
    {% csrf_token %}

        
    <div class="form-group">
        <label for="email" style="color: aliceblue;">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
        <br>

        
    <div class="form-group">
        <label for="pass1" style="color: aliceblue;">Password</label>
        <input type="password" class="form-control p-2" id="pass1" name="pass1" required>
    </div>
        <br>

    <button type="submit" class="btn btn-danger">Log In</button>
        <br><br><br>
    <h6 style="color: aliceblue;">New User?  <a href="/signup/">Signup here</a></h6>

    </form>
    </div>


{% endblock content %}

